
.chatBox__outsideDialogPaper{
    background-color: rgb(63, 63, 63);
    /* background-color: royalblue; */
}
.chatBox__dialogPaper{
    border-radius: 10px;
    margin: 0 4vw 0 4vw;
    height: 90vh;
    width: 92vw;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    /* border: 5px solid red; */
    box-sizing: border-box;
    background-color: white;
   
}

.chatBox__component {
    display: flex;
    /* border: 5px solid rgb(28, 255, 195); */
}

.chatBox__leftComponent {
    min-width: 380;
    /* border: 5px solid rgb(44, 16, 255); */
    
}
.chatBox__rightComponent{
    border-left: 1px solid lightgrey;
    /* border: 5px solid red; */
    width: 100%;
}