.messenger__loginHeader {
    height: 25vh;
    background-color: #3f3f3f;
    /* border: 4px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}



.messenger__header {
    height: 10vh;
    background-color: #3f3f3f;
    /* border: 4px solid teal; */
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.messenger__header h6{
    display: none;
}

.messenger__chatAppName h5 {
    color: white;
    font-size: 30px;
    
}
.messenger__chatAppName2 h6 {
    color: #F3CEEF;
    font-size: 20px;
    font-weight: 500;
    margin-top: 8px;
    
    
}

.messenger__mainDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}